@page
@model SampleProject.Pages.AddWeatherForcast.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ExtWeatherForecast[0].Region)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExtWeatherForecast[0].ForecastDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExtWeatherForecast[0].Temperature)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExtWeatherForecast[0].WeatherDescription)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ExtWeatherForecast) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Region)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ForecastDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Temperature)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WeatherDescription)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ForecastId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ForecastId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ForecastId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
